{# Étend la mise en page de base #}
{% extends 'back/base.html.twig' %}

{# Définit le bloc 'genreEditActive' pour indiquer que cette page est active dans le menu de navigation #}
{% block genreEditActive %}active{% endblock %}

{# Début du bloc 'main' qui contiendra le contenu principal de la page #}
{% block main %}
	<div class="container">
		<!-- Titre principal -->
		<h2 class="text-center my-5 fw-bold display-5">Éditer le Genre musical</h2>
		<div class="row justify-content-center">
			<div class="col-md-8">
				<!-- Bouton de retour à la liste des genres -->
				<a href="{{ path('app_back_genre_browse') }}" class="btn btn-primary fw-bold mb-4">
					<i class="bi bi-arrow-left"></i>
					Retour à la liste des genres
				</a>
				<div class="card">
					<!-- Titre de la carte -->
					<div class="card-header d-flex justify-content-between align-items-center">
						<!-- Nom du genre -->
						<span class="fs-2 fw-bold">{{ genre.name }}</span>
						<div class="d-flex">
							{# Formulaire pour supprimer le genre #}
							<form method="post" action="{{ path('app_back_genre_delete', {'id': genre.id}) }}" onsubmit="return confirm('Souhaitez-vous vraiment supprimer {{ genre.name }}?');">
								<input
								type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
								<!-- Bouton pour supprimer le genre -->
								<button class="btn btn-danger bi bi-trash">{{ button_label|default('')}}</button>
							</form>
						</div>
					</div>
					<div class="card-body">
						<!-- Inclusion du formulaire pour éditer le genre -->
						{{ include('back/fragments/_form.html.twig', {'genre': genre, 'button_label': 'Mettre à jour'}) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
