{% extends 'front/base.html.twig' %}

{% block infosActive %}active{% endblock %}

{% block title %}Informations pratiques{% endblock %}

{% block main %}
        <div class="container-informations medium-blue-bg">
            {# Flash messages #}
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

        <h2 class="page-title adumu-font">Infos pratiques</h2>

        <div class="row p-5 gx-0 background-img-bg">
            <!-- Image -->
            <div class="informations-image col-lg-6">
                <img src="{{ asset('/images/info-picture.jpg') }}" class="img-fluid" alt="Photo festival">
            </div>

            <!-- Main content -->
            <div class="col-lg-6">
                <article class="informations-content bg-white open-font dark-blue-txt p-5">
                    <h2>OUVERTURE DES PORTES</h2>
                    <p>
                        <strong>O'Festival 2024 ouvrira ses portes du {{ openingDate }} au {{ closingDate }}. Il aura lieu au : 10 rue de Penthièvre à Paris (75008), l'entrée se fera par la rue de Pentihèvre (10 minutes à pied de la gare SNCF)</strong>
                    </p>
                    <p>
                        <strong>Horaires d'ouverture O'Festival</strong>
                        <br>
                        OUVERTURE > {{ openingDate }} à 15h00 <br>
                        FERMETURE > {{ closingDate }} à 23h59
                    </p>
                    <p>
                        <strong>👉 CONSEIL : ACHETER VOTRE PASS <a href="{{ path('app_ticket_browse') }}">ICI</a></strong>
                    </p>
                    <p>
                        <strong>Situé idéalement, O'Festival vous régalera de bon son tout l'été</strong>
                    </p>
                    <div class="informations-map">
                        <img src="{{ asset('images/info-map.png') }}" alt="information durée transport carte">
                    </div>
                </article>
            </div>
        </div>

        <!-- Contact form -->
        <div id="contact-form" class="container-contact p-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="contact-title text-center mt-md-5 mt-3 contact-form light-yellow-txt">
                        <h2>CONTACT</h2>
                    </div>
                    <div class="contact-content">
                        {{ form_start(form) }}
                        {% for field in ['name', 'email', 'content'] %}
                            <div class="form-group mb-3">
                                {{ form_label(form[field]) }}
                                {{ form_widget(form[field]) }}
                                {% for error in form[field].vars.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error.message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        <div class="position-relative d-flex align-items-center justify-content-center p-3">
                            {{ form_widget(form.save) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
