
{% extends 'back/base.html.twig' %}

{% block artistActive %}active{% endblock %}

{% block title %}Liste des Artistes{% endblock %}
{% block main %}
    <div class="container">        
        <h2 class="text-center my-5 fw-bold display-5">Liste des Artistes</h2>

    <!-- Search Bar -->
    <div class="row mb-2">
        <form class="d-flex justify-content-center" action="{{ path('app_back_artist_browse') }}" method="get">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 me-2">
                <input class="form-control me-sm-2 search-input" type="search" name="search" value="{{ search }}" placeholder="Rechercher...">
            </div>
            <button class="btn btn-primary bi bi-search my-2 my-sm-0" type="submit" id="searchButton"></button>
            <button class="btn btn-secondary bi bi-x my-2 my-sm-0 ms-2" type="button" id="resetButton" style="display: {{ search ? 'block' : 'none' }};">Réinitialiser</button>
        </form>
    </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                {# Flash Messages #}
                {{ include('back/fragments/_message.html.twig') }}
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span class="fs-2 fw-bold">Artistes</span>
                        {# New artist form #}
                        <a class="btn btn-success fw-bold" href="{{ path('app_back_artist_add') }}">Ajouter un Artiste</a>
                    </div>
                    <div class="card-body">
                        {# No Result Fragment For Search Bar #}
                        {{ include('back/fragments/_noResult_message.html.twig') }}
                        <div class="table-responsive" id="tableWrapper">
                            <table class="table table-bordered searchable-table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">
                                            <i class="bi bi-person me-2"></i>
                                            Photo
                                        </th>
                                        <th scope="col" data-sortable>
                                            <i class="bi bi-person me-2"></i>
                                            Nom
                                        </th>
                                        <th scope="col">
                                            <i class="bi bi-music-note-list me-2"></i>
                                            Genres musicaux
                                        </th>
                                        <th scope="col">
                                            <i class="bi bi-calendar me-2"></i>
                                            Créneau
                                        </th>
                                        <th class="col-1">
                                            <i class="bi bi-gear me-2"></i>
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {# Iterating through the artist list #}
                                    {% for artist in artistList %}
                                        <tr>
                                            {# Artist's pic #}
                                            <td><img src="{{ artist.picture }}" alt="Image de l'artiste {{ artist.name }}" class="img-thumbnail" style="max-width: 100px;"></td>
                                            {# Artist's name #}
                                            <td>{{ artist.name }}</td>
                                            {# Artist's musical genres #}
                                            <td>
                                                {% for genre in artist.genres %}
                                                    <span class="badge bg-primary">{{ genre.name }}</span>
                                                {% endfor %}
                                            </td>
                                            {# Affiche le créneau de l'artiste #}
                                            <td>
                                                {% if artist.slot %}
                                                    <p class="mb-0">
                                                        {{ artist.slot.day }} - {{ artist.slot.date|date('d/m/Y') }}
                                                    </p>
                                                    <p class="mb-0">
                                                        {{ artist.slot.hour }}
                                                    </p>
                                                    <p class="mb-0">
                                                        {{ artist.slot.stage.name }}
                                                    </p>
                                                {% else %}
                                                    <span class="text-muted">Pas de créneau</span>
                                                {% endif %}
                                            </td>
                                            {# Actions #}
                                            <td>
                                                <div class="d-flex">
                                                    <a href="{{ path('app_back_artist_read', { id: artist.id }) }}" class="btn btn-primary bi bi-search me-2"></a>
                                                    <form method="post" action="{{ path('app_back_artist_delete', {'id': artist.id}) }}" onsubmit="return confirm('Voulez-vous supprimer {{ artist.name }}?');">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artist.id) }}">
                                                        <button class="btn btn-danger bi bi-trash">{{ button_label|default('') }}</button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            {# Pagination #}
                            <div id="pagination-container" class="pagination justify-content-center">
                                {{ knp_pagination_render(artistList) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}