{% extends 'back/base.html.twig' %}

{% block title %}Liste des artistes{% endblock %}

{% block main %}
<main>
    <div class="container">      
        <h2 class="text-center my-5 fw-bold display-5">Liste des Artistes</h2>

        <!-- Search bar -->
        {{ include('back/fragments/_search_bar.html.twig')}}

        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <!-- Card title -->
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span class="fs-2 fw-bold">Artistes</span>
                        <a class="btn btn-success fw-bold" type="button" href="{{path('app_artist_new_admin')}}">Ajouter un Artiste</a>
                    </div>
                    <div class="card-body">
                        <!-- No results message -->
                        {{ include('back/fragments/_noResult_message.html.twig') }}
                        <div class="table-responsive" id="tableWrapper">
                            <table class="table table-bordered searchable-table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col"><i class="bi bi-person me-2"></i> Photo </th>
                                        <th scope="col" data-sortable><i class="bi bi-person me-2"></i> Nom </th>
                                        <th scope="col">
                                            <i class="bi bi-music-note-list me-2"></i> Genres musicaux
                                        </th>
                                        <th class="col-1"><i class="bi bi-gear me-2"></i> Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Artist -->
                                    <!-- Loop through artistList and display them -->
                                    {% for artist in artistList %}
                                    <tr>                      
                                        <td><img src="{{artist.picture}}" alt="Image de l'artiste {{artist.name}}" class="img-thumbnail" style="max-width: 100px;"></td>
                                        <td>{{artist.name}}</td>
                                        <td>
                                            {% for genre in artist.genres %}
                                            <span class="badge bg-primary">{{ genre.name }}</span>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <!-- Action buttons -->
                                                <a href="{{ path('app_artist_read_admin', { id: artist.id }) }}" class="btn btn-primary bi bi-search me-2"></a>
                                                {{ include('back/artist/_delete_form.html.twig', {'artist': artist}) }}
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}                    
                                </tbody>
                            </table>
                            
                            <!-- Pagination -->
                        <div id="pagination-container" class="pagination justify-content-center">
                            {{ knp_pagination_render(artistList) }}                                  
                        </div>                   

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
