{% extends 'back/base.html.twig' %}

{%block title%}{{artist.name}}{%endblock%}

{% block main %}
  <main>
    <div class="container">      
      <h2 class="text-center my-5 fw-bold display-5">Détails de l'Artiste</h2>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <!-- Artist card -->
          <div class="col-md-8">
            <a href="{{path('app_artist_list_admin')}}" class="btn btn-primary fw-bold mb-4">
              <i class="bi bi-arrow-left"></i> Retour à la liste des artistes
            </a>
            <div class="card">
              <!-- Card title -->
              <div class="card-header d-flex justify-content-between align-items-center">
                <span class="fs-2 fw-bold">{{artist.name}}</span>
                <div class="d-flex">
                  <a href="{{path('app_artist_edit_admin', {id: artist.id})}}" class="btn btn-warning me-2 bi bi-pencil"></a>
                  {{ include('back/artist/_delete_form.html.twig', {'artist': artist}) }}
                </div>
              </div>
              <div class="card-body">
                <!-- Artist picture -->
                <img src="{{artist.picture}}" alt="Image de l'artiste {{artist.name}}" class="card-img-top"
                  style="width: 100%;">
                <!-- Musical genres -->
                <h6 class="fw-bold mt-4">Genres Musicaux</h6>                
                {% for genre in artist.genres %}
                  <span class="badge bg-primary">{{ genre.name }}</span>
                {% endfor %}
                <!-- Description -->
                <div class="mb-4">
                  <h6 class="fw-bold">Description</h6>
                  <p>{{artist.description}}</p>
                </div>
                <!-- YouTube Video Link -->
                <h6 class="fw-bold">Vidéo YouTube</h6>
                <div class="my-2">
                  <a href="{{artist.video}}" target="_blank" class="badge bg-danger me-0">Vidéo</a>
                </div>
                <!-- Socials -->
                <h6 class="fw-bold">Réseaux Sociaux</h6>
                <div class="d-flex">
                  <ul class="list-inline mb-0">                    
                    <li class="list-inline-item">
                      <a href="{{artist.website}}">
                        <i class="bi bi-globe fs-3 dark-blue-txt"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="{{artist.spotify}}">
                        <i class="fa-brands fa-spotify fs-3 dark-blue-txt"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="{{artist.facebook}}">
                        <i class="fa-brands fa-facebook fs-3 dark-blue-txt"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="{{artist.instagram}}">
                        <i class="fa-brands fa-instagram fs-3 dark-blue-txt"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="{{artist.snapchat}}">
                        <i class="fa-brands fa-snapchat fs-3 dark-blue-txt"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="{{artist.tiktok}}">
                        <i class="fa-brands fa-tiktok fs-3 dark-blue-txt"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}