{% extends 'back/base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block main %}

    <main>
        <div class="container">
            <!-- Titre principal -->
            <h2 class="text-center my-5 fw-bold display-5">Listes des messages</h2>

            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-8 mb-3">
                        <div class="d-flex">
                            <button class="btn btn-primary fw-bold me-2 filter-button selected"
                                    data-status="all"
                                    type="button">Tous les messages
                            </button>
                            <button class="btn btn-primary fw-bold me-2 filter-button"
                                    data-status="A traiter"
                                    type="button">A traiter
                            </button>
                            <button class="btn btn-primary fw-bold me-2 filter-button"
                                    data-status="Traité"
                                    type="button">Traité
                            </button>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <!-- Card Title -->
                            <div class="card-header">
                                <h3 class="fs-2 fw-bold mb-0" id="status-title">Messages</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col"><i class="bi bi-person me-2"></i> Nom</th>
                                                <th scope="col"><i class="bi bi-envelope me-2"></i> Email</th>
                                                <th scope="col"><i class="bi bi-chat me-2"></i> Message</th>
                                                <th scope="col"><i class=" bi bi-arrow-down-square"></i>
                                                    Traitement
                                                </th>
                                                <th scope="col"><i class="bi bi-gear me-2"></i> Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody id="contact-table-body">
                                            <!-- Contacts -->
                                            <!-- Loop through contactList and display them -->
                                            {% for contact in contactList %}
                                                <tr data-status="{{ contact.treatment }}">
                                                    <td>{{ contact.name }}</td>
                                                    <td>{{ contact.email }}</td>
                                                    <td>{{ contact.content | slice(0, 50) }}</td>
                                                    <td>
                                                        <form method="POST"
                                                              action="{{ path('app_contact_edit_admin', {'id': contact.id}) }}">
                                                            <select name="treatment">
                                                                <option value="A traiter"
                                                                        {% if contact.treatment == 'A traiter' %}selected{% endif %}>A traiter
                                                                </option>
                                                                <option value="Traité" {% if contact
                                                                .treatment == 'Traité' %}selected{% endif %}>Traité
                                                                </option>
                                                            </select>
                                                            <td class="text-center align-middle">
                                                                <button type="submit" class="btn btn-sm btn-primary"><i
                                                                            class="bi bi-arrow-repeat"></i>
                                                                </button>
                                                            </td>
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
