{% extends 'front/base.html.twig' %}

{% block title %}Programmation{% endblock %}

{% block main %}
    <main>
        <div class="container-line-up medium-blue-bg">
            <h2 class="page-title adumu-font">Programmation</h2>


            <div class="line-up-sorting px-5">
                <div class="row gx-3">

                    <!-- Sort per day -->
                    <div class="line-up-sorting col-md-12">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="{{ path('LineUpByDate', { id: 'J0' }) }}" class="btn btn-secondary btn-id dark-yellow-bg px-4 mr-2 mb-2">Tous les
                                    jours</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{ path('LineUpByDate', { id: 'J1' }) }}" class="btn btn-secondary btn-id dark-yellow-bg px-4 mr-2 mb-2">J1</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{ path('LineUpByDate', { id: 'J2' }) }}" class="btn btn-secondary btn-day dark-yellow-bg px-4 mr-2 mb-2">J2</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{ path('LineUpByDate', { id: 'J3' }) }}" class="btn btn-secondary btn-day dark-yellow-bg px-4 mb-2">J3</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Sort per stage -->
                    <div class="line-up-sorting col-md-12">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="{{ path('LineUpBystage', { id: 'J1' }) }}" class="btn btn-secondary btn-stage light-green-bg px-4 mr-2 mb-2">Toutes les
                                    scènes</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{ path('LineUpBystage', { id: 'J2' }) }}" class="btn btn-secondary btn-stage light-green-bg px-4 mr-2 mb-2">Scène
                                    1</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{ path('LineUpBystage', { id: 'J3' }) }}" class="btn btn-secondary btn-stage light-green-bg px-4 mr-2 mb-2">Scène
                                    2</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{ path('LineUpBystage', { id: 'J4' }) }}" class="btn btn-secondary btn-stage light-green-bg px-4 mb-2">Scène 3</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Sort per genre -->
                    <div class="line-up-sorting col-md-12">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-secondary btn-genre light-blue-bg px-4 mr-2 mb-2">Touts les
                                    genres</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-secondary btn-genre light-blue-bg px-4 mr-2 mb-2">Électro</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-secondary btn-genre light-blue-bg px-4 mr-2 mb-2">Pop</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-secondary btn-genre light-blue-bg px-4 mb-2">Rock</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-secondary btn-genre light-blue-bg px-4 mb-2">Rap</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- Artist List-->
            <div class="line-up-artists-list px-5">
                <div class="row gx-3">

                    <!-- Artist 1 -->
                    {% for lineUp in lineUpListList %}
                        
                    <div class="line-up-artist col-md-4 col-12 mb-3">
                        <div class="card img-zoom">
                            <a href="#">
                                <img src="{{lineUp.picture}}" class="card-img-top" alt="Artist 1">
                                <div class="card-img-overlay d-flex flex-column justify-content-end">
                                    <h3 class="card-title text-white mb-0">{{lineUp.name}}</h3>
                                    <p class="card-text text-white">{{lineUp.date|date("d/m/Y") }} - {{lineUp.genres}}</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>

            <!-- Link to the Ticketing Page -->
            <div class="text-center position-relative d-flex align-items-center justify-content-center">
                <a href="{{path('ticketBrowse')}}" class="btn btn-primary light-yellow-bg dark-blue-txt">Billetterie</a>
            </div>
        </div>
    </main>
{% endblock %}
