{% extends 'back/base.html.twig' %}

{% block userActive %}active{% endblock %}

{% block title %}Éditer l'administrateur{% endblock %}

{% block main %}
    <div class="container">     
        <h2 class="text-center my-5 fw-bold display-5">Éditer l'administrateur</h2>
        <div class="row justify-content-center">
            <div class="col-md-8">
                {# User Detail Button #}
                <a href="{{ path('app_back_user_browse') }}" class="btn btn-primary fw-bold mb-4">
                    <i class="bi bi-arrow-left"></i>
                    Retour sur la liste des administrateurs
                </a>
                {# Flash Messages Fragment #}
                {{ include('back/fragments/_message.html.twig') }}
                <div class="card">           
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span class="fs-2 fw-bold">{{ user.firstname }} {{ user.lastname }}</span>
                        <div class="d-flex">
                            {# Delete User Form #}
                            <form method="post" action="{{ path('app_back_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous supprimer {{ user.firstname }}?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                <button class="btn btn-danger bi bi-trash">{{ button_label|default('') }}</button>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        {# Edit User Form #}
                        {{ include('back/fragments/_form.html.twig', {'user': user, 'button_label': 'Mettre à jour'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
