{% extends 'back/base.html.twig' %}

{% block title %}Liste des administrateurs{% endblock %}
{% block javascripts %}
    {{ parent() }}
     <script src="{{ asset('js/backTablesSort.js') }}"></script>
{% endblock %}

{% block main %}
	<main>
		<div class="container">
			<h2 class="text-center my-5 fw-bold display-5">Liste des administrateurs</h2>

			<div class="row justify-content-center">
				<div class="col-md-8">
					<div
						class="card">
						<!-- Card title -->
						<div class="card-header">
							<h3 class="fs-2 fw-bold mb-0">Administrateurs</h3>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead class="thead-dark">
										<tr>
											<th scope="col" data-sortable>
												<i class="bi bi-person me-2"></i>
												Nom</th>
											<th scope="col" data-sortable>
												<i class="bi bi-person me-2"></i>
												Prénom</th>
											<th scope="col" data-sortable>
												<i class="bi bi-envelope me-2"></i>
												Email</th>
											<th scope="col">
												<i class="bi bi-lock me-2"></i>
												Mot de passe</th>
											<th scope="col" data-sortable>
												<i class="bi bi-person-check me-2"></i>
												Rôle</th>
											<th class="col-1">
												<i class="bi bi-gear me-2"></i>
												Actions</th>
										</tr>
									</thead>
									<tbody>
										<!-- Loop through adminList and display them -->
										{% for admin in adminList %}
											<tr>
												<td>{{ admin.lastname }}</td>
												<td>{{ admin.firstname }}</td>
												<td>{{ admin.email }}</td>
												<td>*********</td>
												<td>{{ admin.roles | join(', ') }}</td>
												<td>
													<div
														class="d-flex me-2">
														<!-- Action buttons -->
														{{ include('back/user/_delete_form.html.twig', {'admin': admin}) }}
													</div>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
