{% extends 'front/base.html.twig' %}

{% block programmationActive %}active
{% endblock %}

{% block main %}
	<div class="container-artist-list medium-blue-bg">
		<h2 class="page-title adumu-font">Programmation</h2>
		<div class="artist-list-sorting px-5">
			<div
				class="row gx-3">
				<!-- Sort per day -->
				<div class="artist-list-sorting col-md-12">
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="{{path('app_artist_browse')}}" class="btn btn-secondary btn-id dark-yellow-bg px-4 mr-2 mb-2">Tous les jours</a>
						</li>
						{% set uniqueDates = [] %}
						{% for slot in slots %}
							{% set formattedDate = slot.date|date('Y-m-d') %}
							{% if formattedDate not in uniqueDates %}
								<!-- Si la date n'est pas déjà présente, nous l'ajoutons au tableau des dates uniques et affichons le lien -->
								{% set uniqueDates = uniqueDates|merge([formattedDate]) %}
								<li class="list-inline-item">
									<a href="{{ path('app_artist_browse_by_date', { 'date': formattedDate }) }}" class="btn btn-secondary btn-id dark-yellow-bg px-4 mr-2 mb-2">{{ slot.getFormattedDate }}</a>
								</li>
							{% endif %}
						{% endfor %}

					</ul>
				</div>

				<!-- Sort per stage -->
				<div class="artist-list-sorting col-md-12">
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="{{path('app_artist_browse')}}" class="btn btn-secondary btn-stage light-green-bg px-4 mr-2 mb-2">
								Toutes les scènes
							</a>
						</li>
						{% for stage in stageList %}
							<li class="list-inline-item">
								<a href="{{ path('app_artist_browse_by_stage', { 'stage': stage.id }) }}" class="btn btn-secondary btn-stage light-green-bg px-4 mr-2 mb-2">
									{{stage.name}}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>

				<!-- Sort per genre -->
				<div class="artist-list-sorting col-md-12">
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="{{path('app_artist_browse')}}" class="btn btn-secondary btn-genre light-blue-bg px-4 mr-2 mb-2">
								Touts les genres
							</a>
						</li>
						{% for genre in genreList %}
							<li class="list-inline-item">
								<a href="{{ path('app_artist_browse_by_genre', { 'genre': genre.id }) }}" class="btn btn-secondary btn-genre light-blue-bg px-4 mr-2 mb-2">
									{{ genre.name }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>


		<!-- Artist List-->
		<div class="card-artist-list px-5">
			<div
				class="row gx-3">
				<!-- Artists Card -->
				{% for artist in artistBrowse %}
					<div class="card-artist col-md-4 col-12">
						<div class="card">
							<div class="img-zoom">
								<a href="{{ path('app_artist_read', {'id': artist.id}) }}">
									<img src="{{ artist.picture }}" class="card-img-top" alt="{{ artist.name }}">
									<div class="overlay"></div>
									<!-- Ajout de l'overlay ici -->
									<div class="card-img-overlay d-flex flex-column justify-content-end">
										<h3 class="card-title text-white mb-0">{{ artist.name }}</h3>
										<p class="card-text text-white">
											{{ artist.date|date("d/m/Y") }}
											-
											{{ artist.genres }}
										</p>
									</div>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<!-- Link to the Ticketing Page -->
		{{ include('front/fragments/_ticket_button.html.twig') }}
	</div>
{% endblock %}
