{% extends 'front/base.html.twig' %}

{% block title %}Connexion back office
{% endblock %}

{% block main %}
	<main>
		<div class="container-connextion medium-blue-bg">
			<h2 class="page-title adumu-font text-center text-light mb-0">O'Festival</h2>

			<!-- Connexion form -->
			<div class="container-contact px-5 pb-5">
				<div class="row justify-content-center">
					<div class="col-md-8 col-lg-6">
						<div class="card shadow-lg">
							<div class="card-body p-5 mt-0">
								<form method="post">
									{% if error %}
										<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
									{% endif %}

									{% if app.user %}
										<div class="mb-3">
											You are logged in as
											{{ app.user.userIdentifier }},
											<a href="{{ path('app_logout') }}">Logout</a>
										</div>
									{% endif %}
									<div class="text-center dark-blue-txt mb-4">
										<h2>Me connecter</h2>
									</div>
									<div class="form-group mb-3">
										<label for="username" class="form-label text-dark">Email</label>
										<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus placeholder="ex : jeanjacques@goldman.fr">
									</div>
									<div class="form-group mb-4">
										<label for="password" class="form-label text-dark">Mot de passe</label>
										<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required placeholder="Tapez votre mot de passe">
										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
									</div>
									<div class="text-center">
										<button class="btn btn-primary light-yellow-bg dark-blue-txt" type="submit">
											Connexion
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}





                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}