{% extends 'back/base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block main %}

<main>
    <div class="container">
      <!-- Titre principal -->
      <h2 class="text-center my-5 fw-bold display-5">Liste des clients</h2>

      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <!-- Card Title -->
            <div class="card-header">
              <h3 class="fs-2 fw-bold mb-0">Clients</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col"><i class="bi bi-person me-2"></i> Nom</th>
                      <th scope="col"><i class="bi bi-person me-2"></i> Prénom</th>
                      <th scope="col"><i class="bi bi-ticket me-2"></i> Tickets achetés</th>
                      <th class="col-1"><i class="bi bi-gear me-2"></i> Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Customers -->
                    <!-- Loop through customerList and display them -->
                    {% for customer in customerList %} 
                    <tr>
                      <td>{{customer.lastname}}</td>
                      <td>{{customer.firstname}}</td> 
                      <td>                     
                      {% for ticket in customer.getTickets %}
                      <li>{{ ticket.Title }}</li>
                            {% else %}
                       <li>Ce client n'a pas acheté de tickets</li>
                      {% endfor %} 
                        </td>                 
                      <td>
                        <div class="d-flex">
                          <!-- Action buttons -->
                          <a href="{{path('app_customer_read_admin', {id: customer.id})}}" class="btn btn-primary bi bi-search me-2"></a>
                          {{ include('back/customer/_delete_form.html.twig', {'customer': customer}) }}
                        </div>
                      </td>
                    </tr>
                    {% endfor %}            
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}