<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="Badri CHOULAK">
    <meta name="author" content="Nicolas JOUBERT">
    <meta name="author" content="Talya LALAOUI">
    <meta name="author" content="Marjorie MARCOS">
    <meta name="description" content="O'Festival">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>O'Festival</title>
    
    {% block stylesheets %}
        <!-- reset CSS -->
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!-- our CSS -->
        <link rel="stylesheet" href="{{ asset('css/ofestival.css') }}">
        <!-- Neutro font family -->
        <link href="https://fonts.cdnfonts.com/css/neutro" rel="stylesheet">
    {% endblock %}
    
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ asset('images/logo.png') }}" type="image/x-icon">
    <!-- font Awesome -->
    <script src="https://kit.fontawesome.com/2789e31df4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <!--Navbar-->
        <nav class="navbar dark-blue-bg">
            <a class="navbar-brand" href="{{path('home_front')}}">
                <img src="{{ asset('images/logo.png') }}" alt="Logo de O'Festival" class="img-fluid navbar-logo">
            </a>
            <ul class="nav-menu dark-blue-bg">
                <li class="nav-item">
                    <a href="{{path('lineupBrowse')}}" class="nav-link">Programmation</a>
                </li>
                <li class="nav-item">
                    <a href="{{path('ticketBrowse')}}" class="nav-link">Billetterie</a>
                </li>
                <li class="nav-item">
                    <a href="{{path('infoBrowse')}}" class="nav-link">Infos pratiques</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    {% block body %}
        
    {% endblock %}
   
    
    <!--Footer-->
    <footer class="light-blue-bg d-flex flex-column-reverse flex-md-row text-center justify-content-around p-3">
        
        <!-- Socials -->
        <div class="d-flex flex-row align-items-center justify-content-center my-3">
            <a class="mx-2">
                <i class="fa-brands fa-facebook light-yellow-txt"></i>
            </a>
            <a class="mx-2">
                <i class="fa-brands fa-square-x-twitter light-yellow-txt"></i>
            </a>
            <a class="mx-2">
                <i class="fa-brands fa-square-instagram light-yellow-txt"></i>
            </a>
            <a class="mx-2">
                <i class="fa-brands fa-square-snapchat light-yellow-txt"></i>
            </a>
            <a class="mx-2">
                <i class="fa-brands fa-youtube light-yellow-txt"></i>
            </a>
        </div>
    
        <!-- Browsing links -->
        <ul class="list-inline mt-4">
            <li class="list-inline-item">
                <a class="nav-link mx-2" href="#">Contact</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link mx-2" href="#">Partenaires</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link mx-2" href="{{path('legalNoticeBrowse')}}">Mentions légales</a>
            </li>
        </ul>
    </footer>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="{{ asset('js/ofestival.js') }}" crossorigin="anonymous"></script>
</body>
</html>
