{% extends 'front/base.html.twig' %}

{% block homeActive %}active{% endblock %}

{% block main %}
	<!-- Main container -->
	<div class="container-home dark-blue-bg roboto-font">
		<!-- Header Image -->
		<img src="{{asset('images/frise-1.png')}}" class="card-img-top" alt="">

		<!-- Video Section -->
		<div class="container-home-video container-fluid text-center position-relative d-flex align-items-center justify-content-center">
			<video autoplay loop muted plays-inline class="home-video">
				<source src="{{asset('images/video-home.mp4')}}" type="video/mp4">
			</video>
			<h1 class="home-title text-white adumu-font">O'FESTIVAL</h1>
		</div>

		<!-- Intermediate section -->
		<img src="{{asset('images/frise-2.png')}}" class="card-img-top" alt="">

		<!-- Schedule -->
		<div class="container-home-artist-list d-flex flex-column">
			<!-- Schedule title -->
			<h2 class="home-artist-list-title py-5 px-5 medium-blue-bg text-white">Programmation</h2>

		<!-- Artists slider -->
		<div class="home-artist-list-slide row gx-1 px-5">
			<!-- Artist card -->
			<div class="home-artist-list-slide-inner col-md-3">
				{% for artist in artistList %}
					<div class="home-artist-list-slide-artist current-card col-md-3">
						<!-- Card -->
						{{ include('front/fragments/_card_artist.html.twig') }}
					</div>
				{% endfor %}
			</div>
			<!-- Navigation buttons to browse artists -->
			<section class="home-artist-list-slide-direction">
				<span class="home-artist-list-slide-prev" type="button" aria-label="Previous">❮</span>
				<span class="home-artist-list-slide-next" type="button" aria-label="Next">❯</span>
			</section>
		</div>


		<!-- Link to Line-Up page -->
		<div class="home-artist-list-slide-link dark-blue-bg text-center">
			<a href="{{path('app_artist_browse')}}" class="btn btn-primary light-yellow-bg dark-blue-txt">Toute la programmation</a>
		</div>
	</div>

	<!-- Ticket shop -->
	<div class="container-home-ticketing dark-blue-bg d-flex flex-column roboto-font">
		<!-- Ticketing title -->
		<h2 class="home-ticket-title py-5 px-5 medium-blue-bg text-white">Billetterie</h2>

		<!-- Ticket list -->
		<div class="home-ticket-list row justify-content-around mx-3 mb-2 mt-3">
			<!-- Ticket -->
			{% for pass in passes %}
				{% if pass.data is not empty %}
					<div class="home-ticket col-md-3 mb-2">
						<div class="card">
							<div class="img-zoom">
								<a href="{{ path('app_ticket_browse') }}">
									<img src="{{ asset('images/' ~ pass.image) }}" class="card-img-top" alt="">
									<div class="overlay"></div>
									<div class="card-img-overlay d-flex flex-column justify-content-end">
										<h3 class="card-title text-white mb-0">{{ pass.title }}</h3>
									</div>
								</a>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		<!-- Link to ticketing page -->
		{{ include('front/fragments/_ticket_button.html.twig', {'button_label': 'Acheter maintenant', 'anchor': 'weezevent'}) }}
	</div>
{% endblock %}
