{% extends 'back/base.html.twig' %}

{% block main %}
    <main>
        <div class="container">
            <h2 class="text-center my-5 fw-bold display-5">Accueil Back Office O'festival</h2>
            <div class="container mt-5">
			    <a href="{{ path('app_slot_list_admin') }}" class="btn btn-primary fw-bold mb-4">
                    Voir la programmation
                    <i class="bi bi-arrow-right"></i>
                </a>
                <div class="row">
                    {% for day, slots in {'JOUR 1': slotsDay1, 'JOUR 2': slotsDay2, 'JOUR 3': slotsDay3} %}
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header fs-2 fw-bold">{{ day }}</div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        {% for slot in slots %}
                                            <li class="list-group-item">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <img src="{{ asset(slot.artist.picture) }}" alt="Image de l'artiste {{ slot.artist.name }}" class="img-thumbnail me-4" style="max-width: 100px;">
                                                    <div>
                                                        <h6 class="fw-bold mb-0">{{ slot.artist.name }}</h6>
                                                        <p class="mb-0">Scène {{ slot.stage.name }}</p>
                                                        <p class="mb-0">{{ slot.date|date('d/m/Y') }} - {{ slot.hour }}</p>
                                                    </div>
                                                    <div class="d-flex">
                                                        <a href="{{ path('app_slot_read_admin', {id: slot.id}) }}" class="btn btn-primary bi bi-search me-2"></a>
                                                        {{ include('back/slot/_delete_form.html.twig', {'slot': slot}) }}
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
