<!-- Artists Card -->
<div class="card card-artist">
    <div class="img-zoom">
        <a href="{{ path('app_artist_read', {'id': artist.id}) }}">
            <img src="{{ artist.picture }}" class="card-img-top" alt="{{ artist.name }}">
            <div class="overlay"></div> <!-- Dégradé noir à la base de la carte pour faciliter la lisibilité du texte blanc -->
            <div class="card-img-overlay d-flex flex-column justify-content-end align-items-start"> <!-- Modification ici -->
                <h3 class="card-title text-white mb-0">{{ artist.name|upper }}</h3>
                <p class="card-text mb-0 white-background dark-blue-txt">
                    {{ artist.date|date("d/m") }} - 
                    {% for genre in artist.genres %}
                        {{ genre.name|upper }}{% if not loop.last %} - {% endif %}
                    {% endfor %}
                </p>
            </div>
        </a>
    </div>
</div>

