{% extends 'back/base.html.twig' %}

{% block ticketActive %}active{% endblock %}

{% block title %}Liste des Billets{% endblock %}
{% block main %}
    <div class="container">
        <h2 class="text-center my-5 fw-bold display-5">Liste des Billets</h2>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <!-- Sort per day -->
                <div class="col-md-8 mb-3">
                    {# Flash Messages Fragment #}
                    {{ include('back/fragments/_message.html.twig') }}
                    <div class="d-flex">
                        <!-- Sorting buttons -->
                        <button class="btn btn-primary fw-bold me-2 filter-button selected" data-duration="all" type="button">Tous les billets</button>
                        <button class="btn btn-primary fw-bold me-2 filter-button" data-duration="Pass 1 JOUR" type="button">Pass 1 Jour</button>
                        <button class="btn btn-primary fw-bold me-2 filter-button" data-duration="Pass 2 JOURS" type="button">Pass 2 Jours</button>
                        <button class="btn btn-primary fw-bold filter-button" data-duration="Pass 3 JOURS" type="button">Pass 3 Jours</button>
                    </div>
                </div>                
                <div class="col-md-8">
                    <div class="card">                        
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <div>
                                <span class="fs-2 fw-bold" id="duration-title">Tous les pass</span>
                            </div>
                            <!-- Add ticket button -->
                            <a class="btn btn-success fw-bold" type="button" href="{{path('app_back_ticket_add')}}">Ajouter un Billet</a>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-hover searchable-table" id="tableWrapper">
                                <thead class="thead-dark">
                                    <tr>                                        
                                        <th class="col-5">
                                            <i class="bi bi-file-earmark-text me-2"> Titre</i>
                                        </th>
                                        <th class="col-1">
                                            <i class="bi bi-currency-euro me-2"> Prix</i>
                                        </th>
                                        <th class="col-1">
                                            <i class="bi bi-box-seam me-2"> Quantité</i>
                                        </th>
                                        <th class="col-1">
                                            <i class="bi bi-gear me-2"> Action</i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tickets-table-body">
                                    <!-- Iterating throught the ticket list -->
                                    {% for ticket in ticketList %}
                                        <tr data-duration="{{ ticket.type }}">
                                            <td>{{ ticket.title }}</td>
                                            <td>{{ ticket.price }}€</td>
                                            <td>{{ ticket.quantity }}</td>
                                            <td>
                                                <div class="d-flex">
                                                    <!-- Action buttons -->
                                                    <a href="{{ path('app_back_ticket_read', {id: ticket.id}) }}" class="btn btn-primary bi bi-search me-2"></a>
                                                    <form method="post" action="{{ path('app_back_ticket_delete', {'id': ticket.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer {{ ticket.title }}?');">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
                                                        <button class="btn btn-danger bi bi-trash">{{ button_label|default('')}}</button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
                         
