{% extends "back/base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ticketSort.js') }}"></script>
{% endblock %}

{% block title %}Liste des billets{% endblock %}

{% block main %}
<main>
    <div class="container">      
        <h2 class="text-center my-5 fw-bold display-5">Liste des billets</h2>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <!-- Sort per day -->
                <div class="col-md-8 mb-3">
                    <div class="d-flex">
                        <button class="btn btn-primary fw-bold me-2 filter-button selected" data-duration="all" type="button">Tous les pass</button>
                        <button class="btn btn-primary fw-bold me-2 filter-button" data-duration="24" type="button">Pass 1 Jour</button>
                        <button class="btn btn-primary fw-bold me-2 filter-button" data-duration="48" type="button">Pass 2 Jours</button>
                        <button class="btn btn-primary fw-bold filter-button" data-duration="72" type="button">Pass 3 Jours</button>
                    </div>
                </div>
                <!-- Ticket Card -->
                <div class="col-md-8">
                    <div class="card">
                        <!-- Ticket Title -->
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <span class="fs-2 fw-bold" id="table-title">Tous les pass</span>
                            <a class="btn btn-success fw-bold" type="button" href="{{path('app_ticket_new_admin')}}">Ajouter un ticket</a>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="col-5"><i class="bi bi-file-earmark-text me-2"></i> Titre</th>
                                        <th class="col-1"><i class="bi bi-currency-euro me-2"></i> Prix</th>
                                        <th class="col-1"><i class="bi bi-box-seam me-2"></i> Quantité</th>
                                        <th class="col-1"><i class="bi bi-gear me-2"></i> Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="tickets-table-body">
                                    {% for ticket in ticketList %}
                                    <tr data-duration="{{ ticket.duration }}">
                                        <td>{{ ticket.title }}</td>
                                        <td>{{ ticket.price }}</td>
                                        <td>{{ ticket.quantity }}</td>
                                        <td>
                                            <div class="d-flex">
                                            <!-- Action buttons -->
                                            <a href="{{ path('app_ticket_read_admin', {id: ticket.id}) }}" class="btn btn-primary bi bi-search me-2"></a>
                                            {{ include('back/ticket/_delete_form.html.twig', {'ticket': ticket}) }}
                                            </div>
                                        </td>
                                    </tr>                    
                                    {% endfor %}                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
