{% extends "back/base.html.twig" %}

{% block title%}Ticket {{ticket.title}}{% endblock %}

{% block main%}

<main>
    <div class="container">
      <h2 class="text-center my-5 fw-bold display-5">Détails du Ticket {{ticket.title}}</h2>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <!-- Ticket Card -->
          <div class="col-md-8">
            <a href="{{path('app_ticket_list_admin')}}" class="btn btn-primary fw-bold mb-4">
              <i class="bi bi-arrow-left"></i> Retour à la liste des tickets
            </a>
            <div class="card">
              <!-- Title Card -->
              <div class="card-header d-flex justify-content-between align-items-center">
                <span class="fs-2 fw-bold">
                  <i class="bi bi-ticket me-2"></i>{{ticket.title}}
                </span>
                <div class="d-flex">
                  <a href="#" class="btn btn-warning me-2 bi bi-pencil"></a>
                  <form action="#" method="post">
                    <button onclick="return confirm('Souhaitez-vous supprimer ce ticket ?');" type="submit"
                      class="btn btn-danger bi bi-trash"></button>
                  </form>
                </div>
              </div>
              <div class="card-body">
                <!-- Duration -->
                <div class="d-flex align-items-center mt-3">
                  <i class="bi bi-clock me-2" style="font-size: 1.5rem;"></i>
                  <h6 class="fw-bold mb-0">Durée :</h6>
                  <p class="mb-0 ms-2">{{ticket.startAt | date('d/m/Y')}} au {{ticket.endAt | date('d/m/Y')}}</p>
                </div>               
                <!-- Fee -->
                <div class="d-flex align-items-center mt-3">
                  <i class="bi bi-person-badge me-2" style="font-size: 1.5rem;"></i>
                  <h6 class="fw-bold mb-0">Type de Forfait :</h6>
                  <p class="mb-0 ms-2">{{ticket.fee}}</p>
                </div>
                <!-- Price -->
                <div class="d-flex align-items-center mt-3">
                  <i class="bi bi-currency-euro me-2" style="font-size: 1.5rem;"></i>
                  <h6 class="fw-bold mb-0">Prix :</h6>
                  <p class="mb-0 ms-2">{{ticket.price}}</p>
                </div>
                <!-- Quantity -->
                <div class="d-flex align-items-center mt-3">
                  <i class="bi bi-box-seam me-2" style="font-size: 1.5rem;"></i>
                  <h6 class="fw-bold mb-0">Quantité :</h6>
                  <p class="mb-0 ms-2">{{ticket.quantity}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}